# Environment variables / passwords
.env

# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db

# Real Excel data
*.xlsx
*.xls

# Database files
*.mdf
*.ldf
*.bak

# Generated output
*.png

